@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset specific to ensure full height */
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0B0C0C; /* Obsidian Black fallback */
}